@media(max-width: 1280px)
{
  .frontpage
  {
    flex-wrap: wrap;
    overflow-y: visible;
  }

  .frontpage__projectContainer
  {
  	flex: 1 1 auto;

    order: 2;
  }

  .frontpage__recentProjectContainer
  {
    flex: 0 0 100%;
  }

  .frontpage__contactMeContainer
  {
  	flex: 1 1 auto;

    order: 1;

    height: 75%;

    padding-bottom: 1em;
  }

  .frontpage__allProjectsContainer
  {
    flex: 0 0 100%;
  }

  .projects
  {
    flex: 1 1 auto;
    height: auto;
    flex-wrap: wrap;

    padding-top: 1em;
  }

  .frontpage__recentProjectContainer--flexImageGallery
  {
    width: auto;
  }

  .frontpage__textContainer
  {
    flex: 0 0 100%;
  }

  .textContainer__textSummary
  {
    margin: auto;
    width: 80%;
    position: relative;
    top: 0;
    transform: translateY(0);
  }

  .displayNone
  {
    display: none;
  }

  .socialMedia--hexagon
  {
    width: 50px;
    height: 50px;
  }

  .flexImageGallery__largeThumbnail
  {
    width: $frontpage__largeThumbnail--mediaQueryMedium;
    height: $frontpage__largeThumbnail--mediaQueryMedium;
  }

  .flexImageGallery__smallThumbnail
  {
    width: $frontpage__smallThumbnail--mediaQueryMedium;
    height: $frontpage__smallThumbnail--mediaQueryMedium;
  }
}

@media (max-width: 1600px)
{
  .flexImageGallery__largeThumbnail
  {
    width: $frontpage__largeThumbnail--mediaQueryLarge;
    height: $frontpage__largeThumbnail--mediaQueryLarge;
  }

  .flexImageGallery__smallThumbnail
  {
    width: $frontpage__smallThumbnail--mediaQueryLarge;
    height: $frontpage__smallThumbnail--mediaQueryLarge;
  }
}

@media (min-width: 1080px) and (max-width: 1280px)
{
  .textContainer__textSummary
  {
    width: 90%;
  }
}

@media (max-width: 600px)
{
  .flexImageGallery__largeThumbnail
  {
    width: $frontpage__largeThumbnail--mediaQuerySmall;
    height: $frontpage__largeThumbnail--mediaQuerySmall;
  }

  .flexImageGallery__smallThumbnail
  {
    width: $frontpage__smallThumbnail--mediaQuerySmall;
    height: $frontpage__smallThumbnail--mediaQuerySmall;
  }
}
