// COLOR VARIABLES FOR FRONTPAGE
$roseBud : #F7AF9D;
$tumbleWeed : #E3A584;
$orientalPink : #C08497;
$contessa : #BD6B73;
$haiti : #140F2D;
$ebony : #0D0A1D;

// COLOR VARIABLE FOR TEXT
$titanWhite : #FCFCFF;
