/* line 1, ../scss/partials/_frontpage.scss */
h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 9, ../scss/partials/_frontpage.scss */
.frontpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  color: #FCFCFF;
  overflow: hidden;
}

/* line 22, ../scss/partials/_frontpage.scss */
.frontpage__projectContainer {
  flex: 0 0 67%;
  display: flex;
  flex-wrap: wrap;
}

/* line 30, ../scss/partials/_frontpage.scss */
.projects {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 50%;
}

/* line 40, ../scss/partials/_frontpage.scss */
.frontpage__recentProjectAndTextContainer {
  background-color: #F7AF9D;
  background: linear-gradient(#F7AF9D, #E3A584);
}

/* line 46, ../scss/partials/_frontpage.scss */
.frontpage__recentProjectContainer {
  flex: 0 0 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 56, ../scss/partials/_frontpage.scss */
.frontpage__allProjectsAndTextContainer {
  background-color: #C08497;
  background: linear-gradient(#C08497, #BD6B73);
}

/* line 62, ../scss/partials/_frontpage.scss */
.frontpage__allProjectsContainer {
  flex: 0 0 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 72, ../scss/partials/_frontpage.scss */
.frontpage__projectContainer--title {
  margin: 0;
  padding: 0;
}

/* line 78, ../scss/partials/_frontpage.scss */
.frontpage__recentProjectContainer--flexImageGallery {
  width: 90%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

/* line 92, ../scss/partials/_frontpage.scss */
.flexImageGallery__imageContainer {
  background-color: white;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  clip-path: polygon(94.33013% 47.5%, 94.92404% 49.13176%, 94.92404% 50.86824%, 94.33013% 52.5%, 74.33013% 87.14102%, 73.21394% 88.47124%, 71.7101% 89.33948%, 70% 89.64102%, 30% 89.64102%, 28.2899% 89.33948%, 26.78606% 88.47124%, 25.66987% 87.14102%, 5.66987% 52.5%, 5.07596% 50.86824%, 5.07596% 49.13176%, 5.66987% 47.5%, 25.66987% 12.85898%, 26.78606% 11.52876%, 28.2899% 10.66052%, 30% 10.35898%, 70% 10.35898%, 71.7101% 10.66052%, 73.21394% 11.52876%, 74.33013% 12.85898%);
  -webkit-clip-path: polygon(94.33013% 47.5%, 94.92404% 49.13176%, 94.92404% 50.86824%, 94.33013% 52.5%, 74.33013% 87.14102%, 73.21394% 88.47124%, 71.7101% 89.33948%, 70% 89.64102%, 30% 89.64102%, 28.2899% 89.33948%, 26.78606% 88.47124%, 25.66987% 87.14102%, 5.66987% 52.5%, 5.07596% 50.86824%, 5.07596% 49.13176%, 5.66987% 47.5%, 25.66987% 12.85898%, 26.78606% 11.52876%, 28.2899% 10.66052%, 30% 10.35898%, 70% 10.35898%, 71.7101% 10.66052%, 73.21394% 11.52876%, 74.33013% 12.85898%);
}

/* line 106, ../scss/partials/_frontpage.scss */
.flexImageGallery__largeThumbnail {
  width: 350px;
  height: 350px;
}

/* line 112, ../scss/partials/_frontpage.scss */
.flexImageGallery__smallThumbnail {
  width: 175px;
  height: 175px;
}

/* line 118, ../scss/partials/_frontpage.scss */
.imageContainer--thumbnail {
  width: calc(100% - 1.5em);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(94.33013% 47.5%, 94.92404% 49.13176%, 94.92404% 50.86824%, 94.33013% 52.5%, 74.33013% 87.14102%, 73.21394% 88.47124%, 71.7101% 89.33948%, 70% 89.64102%, 30% 89.64102%, 28.2899% 89.33948%, 26.78606% 88.47124%, 25.66987% 87.14102%, 5.66987% 52.5%, 5.07596% 50.86824%, 5.07596% 49.13176%, 5.66987% 47.5%, 25.66987% 12.85898%, 26.78606% 11.52876%, 28.2899% 10.66052%, 30% 10.35898%, 70% 10.35898%, 71.7101% 10.66052%, 73.21394% 11.52876%, 74.33013% 12.85898%);
  -webkit-clip-path: polygon(94.33013% 47.5%, 94.92404% 49.13176%, 94.92404% 50.86824%, 94.33013% 52.5%, 74.33013% 87.14102%, 73.21394% 88.47124%, 71.7101% 89.33948%, 70% 89.64102%, 30% 89.64102%, 28.2899% 89.33948%, 26.78606% 88.47124%, 25.66987% 87.14102%, 5.66987% 52.5%, 5.07596% 50.86824%, 5.07596% 49.13176%, 5.66987% 47.5%, 25.66987% 12.85898%, 26.78606% 11.52876%, 28.2899% 10.66052%, 30% 10.35898%, 70% 10.35898%, 71.7101% 10.66052%, 73.21394% 11.52876%, 74.33013% 12.85898%);
}

/* line 133, ../scss/partials/_frontpage.scss */
.frontpage__textContainer {
  flex: 0 0 33%;
  position: relative;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

/* line 143, ../scss/partials/_frontpage.scss */
.textContainer__textSummary {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 152, ../scss/partials/_frontpage.scss */
.frontpage__contactMeContainer {
  background-color: #140F2D;
  background: linear-gradient(#140F2D, #130e2b);
  flex: 0 0 33%;
  line-height: 5rem;
  position: relative;
}

/* line 164, ../scss/partials/_frontpage.scss */
.displayNone {
  display: block;
}

/* line 169, ../scss/partials/_frontpage.scss */
.contactMeContainer__content {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 181, ../scss/partials/_frontpage.scss */
.contactMeContainer__content--name {
  font-size: 4rem;
}

/* line 186, ../scss/partials/_frontpage.scss */
.contactMeContainer__content--title {
  font-size: 3rem;
  margin-bottom: 1em;
}

/* line 192, ../scss/partials/_frontpage.scss */
.contactMeContainer__content--contact {
  font-size: 2rem;
}

/* line 197, ../scss/partials/_frontpage.scss */
.contactMeContainer__socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 205, ../scss/partials/_frontpage.scss */
.socialMedia--hexagon {
  width: 100px;
  height: 100px;
  margin-left: 1em;
  margin-right: 1em;
}

/* line 214, ../scss/partials/_frontpage.scss */
.hexagon--github {
  background-image: url("../images/icons/hex_github_logo_white.svg");
  background-size: cover;
}

/* line 220, ../scss/partials/_frontpage.scss */
.hexagon--linkedin {
  background-image: url("../images/icons/hex_linkedin_logo_white.svg");
  background-size: cover;
}

/* line 226, ../scss/partials/_frontpage.scss */
.hexagon--mail {
  background-image: url("../images/icons/hex_mail_logo_white.svg");
  background-size: cover;
}

@media (max-width: 1280px) {
  /* line 3, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage {
    flex-wrap: wrap;
    overflow-y: visible;
  }

  /* line 9, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage__projectContainer {
    flex: 1 1 auto;
    order: 2;
  }

  /* line 16, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage__recentProjectContainer {
    flex: 0 0 100%;
  }

  /* line 21, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage__contactMeContainer {
    flex: 1 1 auto;
    order: 1;
    height: 75%;
    padding-bottom: 1em;
  }

  /* line 32, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage__allProjectsContainer {
    flex: 0 0 100%;
  }

  /* line 37, ../scss/partials/_frontpage_mediaquery.scss */
  .projects {
    flex: 1 1 auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: 1em;
  }

  /* line 46, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage__recentProjectContainer--flexImageGallery {
    width: auto;
  }

  /* line 51, ../scss/partials/_frontpage_mediaquery.scss */
  .frontpage__textContainer {
    flex: 0 0 100%;
  }

  /* line 56, ../scss/partials/_frontpage_mediaquery.scss */
  .textContainer__textSummary {
    margin: auto;
    width: 80%;
    position: relative;
    top: 0;
    transform: translateY(0);
  }

  /* line 65, ../scss/partials/_frontpage_mediaquery.scss */
  .displayNone {
    display: none;
  }

  /* line 70, ../scss/partials/_frontpage_mediaquery.scss */
  .socialMedia--hexagon {
    width: 50px;
    height: 50px;
  }

  /* line 76, ../scss/partials/_frontpage_mediaquery.scss */
  .flexImageGallery__largeThumbnail {
    width: 200px;
    height: 200px;
  }

  /* line 82, ../scss/partials/_frontpage_mediaquery.scss */
  .flexImageGallery__smallThumbnail {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1600px) {
  /* line 91, ../scss/partials/_frontpage_mediaquery.scss */
  .flexImageGallery__largeThumbnail {
    width: 250px;
    height: 250px;
  }

  /* line 97, ../scss/partials/_frontpage_mediaquery.scss */
  .flexImageGallery__smallThumbnail {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 1080px) and (max-width: 1280px) {
  /* line 106, ../scss/partials/_frontpage_mediaquery.scss */
  .textContainer__textSummary {
    width: 90%;
  }
}
@media (max-width: 600px) {
  /* line 114, ../scss/partials/_frontpage_mediaquery.scss */
  .flexImageGallery__largeThumbnail {
    width: 150px;
    height: 150px;
  }

  /* line 120, ../scss/partials/_frontpage_mediaquery.scss */
  .flexImageGallery__smallThumbnail {
    width: 50px;
    height: 50px;
  }
}
/* line 9, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-size: 67.5%;
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
